.main {
	display: flex;
	align-items: center;
	gap: 87px;

	&__image {
		color: red;
	}

	&__title {
		font-size: 165px;
		line-height: 1.2;
		display: flex;
		align-items: center;
		letter-spacing: -0.04em;
		font-weight: 500;
	}

}