body {
	font-family: "Raleway";
	font-size: 17px;
	font-weight: 500;
	color: #142251;
	background-color: #D5EAFF;
	padding: 0;
    margin: 0;
	padding-bottom: 77px;
}

.container {
	width: 100%;
	max-width: 1822px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}